<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>dev.spike.camera-ascii</string>
	<key>CFBundleName</key>
	<string>camera-ascii</string>
	<key>NSCameraUsageDescription</key>
	<string>터미널에 카메라 영상을 ASCII로 그리기 위해 사용합니다.</string>
</dict>
</plist>
